<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Enrique Mendez</h2>
      <h4>diegomendez11117@gmail.com</h4>
    </div>
    <img src="https://miro.medium.com/max/10944/0*_OmrPK4MLomRHgdo" />
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="./"
    >Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="./posts"
    >Posts</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    >Articles</a
  >

  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/info/contact"
    ><mat-icon>import_contacts</mat-icon>Contacts</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/info/about"
    ><mat-icon>contact_phone</mat-icon>About Us</a
  >
  <mat-divider></mat-divider>
</mat-nav-list>
