<section class="slice py-7">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                <!-- Image -->
                <figure class="w-100">
                    <img alt="Image placeholder" src="../../../../assets/images/woman-shopping.png" class="img-fluid mw-md-120">
                </figure>
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                <!-- Heading -->
                <h1 class="display-4 text-center text-md-left mb-3">
                    It's time to wear Cuban clothes, supporting <br> <strong class="text-primary">small businesses</strong>
                </h1>
                <!-- Text -->
                <p class="lead text-center text-md-left text-muted">
                    We have taken our brand to another level, and today we want you to be part of this success.
                </p>
                <!-- Buttons -->
                <div class="text-center text-md-left mt-5">
                    <a [routerLink]="['/products']" class="btn btn-primary btn-icon" >
                        <span class="btn-inner--text">Products</span>
                        <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
                    </a>
                    <a [routerLink]="['/contact']" class="btn btn-neutral btn-icon d-none d-lg-inline-block">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
    <div class="container">
        <div class="row row-grid align-items-center">
            <div class="col-lg-5 order-lg-2">
                <h5 class="h3">Today we revive that style of Cuban clothing that so many like.</h5>
                <p class="lead my-4">
                    We have drawn on the roots of the Cuban tailors who have created beautiful clothing products for so long. His skills today take into account two sources of inspiration.
                </p>
                <ul class="list-unstyled mb-0">
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                    <mat-icon>checkroom</mat-icon>
                                </div>
                            </div>
                            <div>
                                <span class="h6 mb-0">The Cuban Creole style</span>
                            </div>
                        </div>
                    </li>
                    <li class="py-2">
                        <div class="d-flex align-items-center">
                            <div>
                                <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                    <mat-icon>iron</mat-icon>
                                </div>
                            </div>
                            <div>
                                <span class="h6 mb-0">The style of manual making of Cuban clothing</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">    
                <figure class="w-100">
                    <img alt="Image placeholder" src="../../../../assets/images/man-shopping.svg" class="img-fluid mw-md-120" width="90%">
                </figure>                
            </div>
        </div>        
    </div>
</section>